@keyframes boom_animation {
    0% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1.0);
    }
  }
@keyframes slide_up {
    0% {
      transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
  }
*
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
body
{
    background-image: url(../cool-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y;
    overflow: hidden;
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] 
{
  -moz-appearance: textfield;
} */
#container
{
    width: 100%;
    height: 100%;
}
header
{
    background-color: #50C878;
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    /* height: 0vh; */
    width: fit-content;
    padding: 2vh;
    font-weight: bold;
    border-radius: 15px;
}
header a
{
    background-color: white;
    padding: 1.5vh;
    /* width: 100%; */
    /* height: 100%; */
    border-radius: 15px;
    text-decoration: none;
    color: black;
    /* box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1); */
    transition: 0.2s;
    user-select: none;
}
header a:hover
{
    box-shadow: inset 8px 8px 24px -17px rgba(66, 68, 90, 1);
    user-select: none;
}
nav
{
    background-color: #50C878;
    /* height: 80vh; */
    height: fit-content;
    width: 10%;
    -webkit-box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    padding: 20px;
    border-radius: 15px;
    margin-left: 2vw;
    margin-top: 5vh;
    position: relative;
    font-size: 1.1vw;
    cursor: pointer;
}
nav a
{
    text-decoration: none;
    color: black;
}
.nav_box, .nav_box_index
{
    -webkit-box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    width: 80%;
    height: 2vh;
    line-height: 2vh;
    background-color: white;
    padding: 20px;
    margin-bottom: 10%;
    border-radius: 10px;
    transition: 0.2s;
    user-select: none;
}
.nav_box_index
{
    cursor: not-allowed;
}
.nav_box_checked
{
    box-shadow: inset 8px 8px 24px -17px rgba(66, 68, 90, 1);
    width: 80%;
    height: 2vh;
    line-height: 2vh;
    background-color: white;
    padding: 20px;
    margin-bottom: 10%;
    border-radius: 10px;
    transition: 0.2s;
    user-select: none;
}
.nav_box:hover
{
    box-shadow: 8px 13px 24px -23px rgba(66, 68, 90, 1);
    user-select: none;
}
#contracts
{
    float: right;
    position: absolute;
    right: 3%;
    top: 30%;
    width: 15%;
    /* height: 32.5%; */
    background-color: #50C878;
    box-shadow: 8px 13px 24px -23px rgba(66, 68, 90, 1);
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1%;
    user-select: none;
    /* font-weight: bold; */
}
.contract_number
{
    background-color: white;
    margin: 10%;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
}
.contract_number_checked
{
    background-color: white;
    margin: 10%;
    padding: 5%;
    border-radius: 5px;
    box-shadow: inset 8px 8px 24px -17px rgba(66, 68, 90, 1);
}
.contract_number:hover
{
    box-shadow: 8px 13px 24px -23px rgba(66, 68, 90, 1);
}
.contract_number_a, .contract_number_checked a
{
    text-decoration: none;
    color: black;
}
#personal
{
    float: right;
    position: absolute;
    right: 3%;
    top: 3%;
    width: 15%;
    height: 22.5%;
    background-color: #50C878;
    box-shadow: 8px 13px 24px -23px rgba(66, 68, 90, 1);
    border-radius: 10px;
}
.personal_parts
{
    background-color: white;
    margin: 2.5% 10% 2.5% 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    /* width: 80%; */
    /* margin: auto; */
    min-height: 2vh;
    text-align: center;
    animation: 0.2s ease-in-out 0s 1 boom_animation;
}
#search
{
    float: right;
    position: absolute;
    right: 3%;
    top: 30%;
    width: 15%;
    height: 32.5%;
    background-color: #50C878;
    box-shadow: 8px 13px 24px -23px rgba(66, 68, 90, 1);
    border-radius: 10px;
    text-align: center;
}
#search .search_block
{
    background-color: white;
    margin: 2.5% 10% 2.5% 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    border: none;
    /* width: 70%; */
    display: inline;
}
#search input
{
    background-color: white;
    margin: 2.5% 0 2.5% 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    border: none;
    width: 50%;
    display: inline;
}
#search input:focus
{
    outline: none;
}
.search_search_button
{
    background-color: white;
    /* margin: 2.5% 10% 2.5% 10%; */
    padding: 10px;
    /* border-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    border: none;
    width: 10%;
    display: inline;
    /* background-color: black; */
    border-left: 1px solid black;
    /* border-width: 4px; */
}
.icon-right-open
{
    cursor: pointer;
}
main
{
    position: absolute;
    background-color: #50C878;
    width: 50%;
    height: fit-content;
    left: 25%;
    /* right: 25%; */
    top: 10%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    animation: 0.2s ease-out 0s 1 slide_up;
}

#main_personal
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-row: 2 / 5; */
    /* grid-template-rows: repeat(1, 1fr); */
    grid-gap: 1%;
    /* background-color: beige; */
    user-select: none;
    /* width: fit-content; */
    font-weight: bold;
    /* padding-top: 10%; */
}
.main_personal_grid_record
{
    background-color: white;
    padding: 1% 3% 1% 3%;
    border-radius: 5px;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    user-select: text;
    font-weight: lighter;
}
.half_main_personal_grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10%;
    /* grid-gap: 10%; */
    /* padding-top: 10%; */
    border: 2px solid white;
    padding: 3%;
    border-radius: 15px;
    height: 25vh;
    margin-bottom: 2vh;
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    /* margin: auto; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
}
.half_main_personal_grid_description
{
    text-align: center;
    font-weight: lighter;
}
.zamowienie
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1vh;
    /* grid-gap: 10%; */
    /* padding-top: 10%; */
    border: 2px solid white;
    padding: 3%;
    border-radius: 15px;
    height: 50vh;
    margin-bottom: 2vh;
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    line-height: 2vh;
    justify-content: center;
    /* align-items: center; */
}
.zamowienia
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1vh;
    /* grid-gap: 10%; */
    /* padding-top: 10%; */
    border: 2px solid white;
    padding: 3%;
    border-radius: 15px;
    /* height: 50vh; */
    margin-bottom: 2vh;
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    line-height: 2vh;
    justify-content: center;
    /* align-items: center; */
}
.zamowienia_record
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1vh;
    border: 2px solid white;
    padding: 3%;
    border-radius: 15px;
    margin-bottom: 2vh;
    box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1);
    /* line-height: 2vh; */
    grid-column: span 2;
    transition: 0.2s;
    cursor: pointer;
}
.zamowienia_record:hover
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1vh;
    border: 2px solid white;
    padding: 3%;
    border-radius: 15px;
    margin-bottom: 2vh;
    box-shadow: 8px 8px 24px -19px rgba(66, 68, 90, 1);
    /* line-height: 2vh; */
    grid-column: span 2;
}
.zamowienia_record_a
{
    background-color: white;
    padding: 1% 3% 1% 3%;
    border-radius: 5px;
    text-align: center;
    margin-left: 5%;
    user-select: text;
    font-weight: lighter;
    cursor: pointer;
}
.zamowienia_record_description
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1vh;
    /* border: 2px solid white; */
    /* padding: 3%; */
    border-radius: 15px;
    /* margin-bottom: 2vh; */
    /* box-shadow: 8px 13px 24px -16px rgba(66, 68, 90, 1); */
    /* line-height: 2vh; */
    grid-column: span 2;
    text-align: center;
    justify-content: center;
}